[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "docs"]
	path = docs
	url = https://github.com/ca5/AmenBreakChopper_doc.git
[submodule "ui"]
	path = ui
	url = https://github.com/ca5/AmenBreakChopper_ui
